# Final Project

## Introduction
This notebook presents basic markdown and code cell exercises used in Data Science.

### Languages Used in Data Science
- Python
- R
- SQL
- Julia
- Scala

### Popular Data Science Libraries
- Pandas
- NumPy
- Matplotlib
- Seaborn
- Scikit-learn
- TensorFlow
- Keras

### Data Science Tools

| Tool             | Description                      |
|------------------|----------------------------------|
| Jupyter Notebook | Interactive coding environment   |
| RStudio          | IDE for R                        |
| Apache Spark     | Big Data processing              |
| Tableau          | Data visualization tool          |

### Examples of Arithmetic Expressions
Below are some examples of using arithmetic operations in Python.

In [4]:
# Multiply and add numbers
result = (5 * 4) + 3
result

23

In [5]:
# Convert minutes to hours
minutes = 120
hours = minutes / 60
hours

2.0

### Objectives
- Understand the structure of a Jupyter Notebook
- Learn to use markdown cells for formatting
- Practice basic Python arithmetic operations
- Identify tools, languages, and libraries used in Data Science

### Author
Junaid Ul Islam

### GitHub Sharing
[View this notebook on GitHub](https://github.com/desmondvidic/IBM_Data_Science/tree/main/C2-Tools_for_Data_Science)

In [ ]:
### Screenshot of First Page
*(Insert a screenshot of the first page of this notebook here)*